/Source/CSharp-CommandLineArgumentsParser/CSharp-CommandLineArgumentsParser/bin
/Source/CSharp-CommandLineArgumentsParser/CSharp-CommandLineArgumentsParser/obj
Source/CSharp-CommandLineArgumentsParser/.vs/CSharp-CommandLineArgumentsParser/DesignTimeBuild/.dtbcache.v2
Source/CSharp-CommandLineArgumentsParser/.vs/CSharp-CommandLineArgumentsParser/FileContentIndex/eb59d688-4320-4ec1-8e7c-5c4ccdcaabba.vsidx
Source/CSharp-CommandLineArgumentsParser/.vs/CSharp-CommandLineArgumentsParser/FileContentIndex/cc2ab6cb-5944-47c8-b0de-05ebc79593a9.vsidx
Source/CSharp-CommandLineArgumentsParser/.vs/CSharp-CommandLineArgumentsParser/FileContentIndex/read.lock
Source/CSharp-CommandLineArgumentsParser/.vs/CSharp-CommandLineArgumentsParser/v17/.futdcache.v2
Source/CSharp-CommandLineArgumentsParser/.vs/CSharp-CommandLineArgumentsParser/v17/.suo
Source/CSharp-CommandLineArgumentsParser/.vs/CSharp-CommandLineArgumentsParser/v17/TestStore/0/000.testlog
Source/CSharp-CommandLineArgumentsParser/.vs/CSharp-CommandLineArgumentsParser/v17/TestStore/0/testlog.manifest
Source/CSharp-CommandLineArgumentsParser/.vs/ProjectEvaluation/csharp-commandlineargumentsparser.metadata.v5.2
Source/CSharp-CommandLineArgumentsParser/.vs/ProjectEvaluation/csharp-commandlineargumentsparser.projects.v5.2
